/MyEA/MyEA-ejb/dist/
/MyEA/MyEA-ejb/build/
/M1Miage_INF2_TP3/dist/
/MyEA/build/
/MyEA/INF2_JPA/build/
/MyEA/dist/
/MyEA/INF2_JPA/dist/
/MyEA/INF_JPA_BookDB/build/
/MyEA/INF_JPA_BookDB/dist/
/INF_JPA_BookDB/build/
/INF_JPA_BookDB/dist/